<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @category.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Category has many itineraries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Itineraries
      </li>

      <% @category.itineraries.each do |itinerary| %>
        <li class="list-group-item">
          <a href="/itineraries/<%= itinerary.id %>">
            <%= itinerary.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/itineraries/<%= itinerary.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/itineraries/<%= itinerary.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_itinerary/<%= itinerary.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_itinerary" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for country -->
      <div class="form-group">
        <label for="country" class="control-label">
          Country
        </label>

        <input type="text" id="country" name="country" placeholder="Country" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Itinerary
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
